USE [master]
GO
/****** Object:  Database [AgenciaViagemRecode]    Script Date: 03/01/2022 23:44:03 ******/
CREATE DATABASE [AgenciaViagemRecode]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgenciaViagemRecode', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\AgenciaViagemRecode.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgenciaViagemRecode_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\AgenciaViagemRecode_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgenciaViagemRecode].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgenciaViagemRecode]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03/01/2022 23:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbBuyList]    Script Date: 03/01/2022 23:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbBuyList](
	[SecID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[UID] [int] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[qtdd] [int] NOT NULL,
	[plannedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_dbBuyList] PRIMARY KEY CLUSTERED 
(
	[SecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbClients]    Script Date: 03/01/2022 23:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbClients](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](max) NOT NULL,
	[idade] [int] NOT NULL,
	[criadoEm] [datetime2](7) NOT NULL,
	[SecID] [int] NOT NULL,
 CONSTRAINT [PK_dbClients] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbPackages]    Script Date: 03/01/2022 23:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbPackages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[preco] [float] NOT NULL,
	[precoOriginal] [float] NULL,
	[destino] [nvarchar](max) NOT NULL,
	[pessoasContempladas] [int] NOT NULL,
	[hasOnibus] [bit] NOT NULL,
	[hasAviao] [bit] NOT NULL,
	[hasNavio] [bit] NOT NULL,
	[hasHotel] [bit] NOT NULL,
	[hasAlimentacao] [bit] NOT NULL,
	[SecID] [int] NOT NULL,
 CONSTRAINT [PK_dbPackages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suporte]    Script Date: 03/01/2022 23:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suporte](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NULL,
	[motivo] [nvarchar](max) NOT NULL,
	[mensagem] [nvarchar](max) NOT NULL,
	[SecID] [int] NOT NULL,
 CONSTRAINT [PK_Suporte] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_dbClients_SecID]    Script Date: 03/01/2022 23:44:06 ******/
CREATE NONCLUSTERED INDEX [IX_dbClients_SecID] ON [dbo].[dbClients]
(
	[SecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_dbPackages_SecID]    Script Date: 03/01/2022 23:44:06 ******/
CREATE NONCLUSTERED INDEX [IX_dbPackages_SecID] ON [dbo].[dbPackages]
(
	[SecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Suporte_SecID]    Script Date: 03/01/2022 23:44:06 ******/
CREATE NONCLUSTERED INDEX [IX_Suporte_SecID] ON [dbo].[Suporte]
(
	[SecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dbClients]  WITH CHECK ADD  CONSTRAINT [FK_dbClients_dbBuyList_SecID] FOREIGN KEY([SecID])
REFERENCES [dbo].[dbBuyList] ([SecID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dbClients] CHECK CONSTRAINT [FK_dbClients_dbBuyList_SecID]
GO
ALTER TABLE [dbo].[dbPackages]  WITH CHECK ADD  CONSTRAINT [FK_dbPackages_dbBuyList_SecID] FOREIGN KEY([SecID])
REFERENCES [dbo].[dbBuyList] ([SecID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dbPackages] CHECK CONSTRAINT [FK_dbPackages_dbBuyList_SecID]
GO
ALTER TABLE [dbo].[Suporte]  WITH CHECK ADD  CONSTRAINT [FK_Suporte_dbBuyList_SecID] FOREIGN KEY([SecID])
REFERENCES [dbo].[dbBuyList] ([SecID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Suporte] CHECK CONSTRAINT [FK_Suporte_dbBuyList_SecID]
GO
USE [master]
GO
