@model WellN_M2_AgenciaViagens.Models.Compras

@{
    ViewData["Title"] = "Create";
}

<h1>Concluir Compra</h1>

<h4>Finalize com os seus detalhes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label">ID de Destino:</label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UID" class="control-label">ID do Usuário (Para reservar enquanto cria o cadastro, digite 0)</label>
                <input asp-for="UID" class="form-control" />
                <span asp-validation-for="UID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label">Horário de Saída</label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="plannedAt" class="control-label">Horário de Retorno</label>
                <input asp-for="plannedAt" class="form-control" />
                <span asp-validation-for="plannedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qtdd" class="control-label">Quantidade</label>
                <input asp-for="qtdd" class="form-control" />
                <span asp-validation-for="qtdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">Criar</input>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
