@model IEnumerable<WellN_M2_AgenciaViagens.Models.Pacotes>

@{
    ViewData["Title"] = "Destinos";
}

<div class="d-flex flex-column justify-content-between fluidBackground bgForDestines">
        <nav class="navbar navbar-light navbar-expand-md sticky-top shadow-sm" data-aos="fade-down" data-aos-duration="100" data-aos-offset="0">
            <div class="container-fluid"><a class="navbar-brand" href="#"><strong>&nbsp;</strong><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path d="M9.00967 5.12761H11.0097C12.1142 5.12761 13.468 5.89682 14.0335 6.8457L16.5089 11H21.0097C21.562 11 22.0097 11.4477 22.0097 12C22.0097 12.5523 21.562 13 21.0097 13H16.4138L13.9383 17.1543C13.3729 18.1032 12.0191 18.8724 10.9145 18.8724H8.91454L12.4138 13H5.42485L3.99036 15.4529H1.99036L4.00967 12L4.00967 11.967L2.00967 8.54712H4.00967L5.44417 11H12.5089L9.00967 5.12761Z" fill="currentColor"></path>
                    </svg><strong>&nbsp; &nbsp;Traveller Co.</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                        <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Destinos">Destinos</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Promocoes">Promoções</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a></li>
                    </ul>
                    <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                </ul>
                </div>
            </div>
        </nav>
        <h1 class="text-sm-end text-md-end text-lg-end text-xl-end text-xxl-end text-white d-lg-flex my-auto justify-content-lg-center" style="width: 50%;position: relative;left: 50%;font-size: 12vmin;text-shadow: 0px 0px 2px var(--bs-gray-dark), 0px 2px 4px var(--bs-cyan);top: -15%;">Destinos&nbsp;</h1>
    </div>
    <p class="text-center"><i class="material-icons" data-aos="fade-down" data-aos-duration="900" data-aos-offset="0" data-aos-delay="3000" style="font-size: 54px;color: rgba(247,139,40,0.29);">keyboard_arrow_down</i></p>
    <div class="container" style="overflow-x: auto;">
        <h1 style="color: rgb(13,185,220);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-calendar2-week" style="position: relative;top: -3px;">
                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"></path>
                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
            </svg>&nbsp; Pacotes de viagem<br><br></h1>
        <div class="destinesTable" style="border-radius: 8px !important;overflow: hidden;overflow-x: auto;">
            <table class="table table-hover table-bordered">
                <caption class="text-end">*Estava doido pra usar um async com o banco de dados, mas não deu tempo 🥲&nbsp;</caption>
                <thead style="background-color: rgb(13,185,220);border-radius: 16px 0 0 16px!important;color: white;">
                    <tr>
                        <th>Destino</th>
                        <th class="text-center">Disponível</th>
                        <th class="text-center">Valor</th>
                        <th class="text-end">Ação&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="d-table-cell" style="/*vertical-align: middle;*/"><strong>São Paulo</strong><br>São Paulo, BR</td>
                        <td class="text-center d-flex destinesClassifications"><span data-bs-toggle="tooltip" data-bss-tooltip="" title="Passagem de ônibus"><i class="material-icons">directions_bus</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" class="active" title="Passagem de avião"><i class="material-icons">airplanemode_active</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" title="Passagem de navio"><i class="material-icons">directions_boat</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" class="active" title="Hospedagem em hotel"><i class="material-icons">hotel</i></span><span data-bs-toggle="tooltip" class="active" data-bss-tooltip="" title="Refeições inclusas"><i class="material-icons">local_dining</i></span></td>
                        <td class="text-center"><span class="text-success"><strong>R$ 1.759,00</strong></span><br><span class="badge bg-light text-black-50"><span style="text-decoration: line-through;">R$ 1.999,00</span></span></td>
                        <td class="text-end">ID: 1 - <a class="btn btn-primary jsRemoveSpan" type="link" href="/Compras/Create" style="background: rgb(6,184,45);border-color: rgb(6,184,45);">Comprar</a></td>
                    </tr>
                    <tr>
                        <td><strong>Fernando de Noronha</strong><br>Pernambuco, BR</td>
                        <td class="text-center d-flex destinesClassifications"><span data-bs-toggle="tooltip" data-bss-tooltip="" class="active" title="Passagem de ônibus"><i class="material-icons">directions_bus</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" class="active" title="Passagem de avião"><i class="material-icons">airplanemode_active</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" class="active" title="Passagem de navio"><i class="material-icons">directions_boat</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" class="active" title="Hospedagem em hotel"><i class="material-icons">hotel</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" class="active" title="Refeições inclusas"><i class="material-icons">local_dining</i></span></td>
                        <td class="text-center">R$ 2.100,00</td>
                        <td class="text-end">ID: 2 - <a class="btn btn-primary jsRemoveSpan" type="link" href="/Compras/Create" style="background: rgb(6,184,45);border-color: rgb(6,184,45);">Comprar</a></td>
                    </tr>
                    <tr>
                        <td><strong>Fernando de Noronha</strong><br>Pernambuco, BR</td>
                        <td class="text-center d-flex destinesClassifications"><span data-bs-toggle="tooltip" data-bss-tooltip="" title="Passagem de ônibus"><i class="material-icons">directions_bus</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" class="active" title="Passagem de avião"><i class="material-icons">airplanemode_active</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" class="active" title="Passagem de navio"><i class="material-icons">directions_boat</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" title="Hospedagem em hotel"><i class="material-icons">hotel</i></span><span data-bs-toggle="tooltip" data-bss-tooltip="" title="Refeições inclusas"><i class="material-icons">local_dining</i></span></td>
                        <td class="text-center">R$ 4.700,00</td>
                        <td class="text-end">ID: 3 - <a class="btn btn-primary jsRemoveSpan" type="submit" href="/Compras/Create" style="background: rgb(6,184,45);border-color: rgb(6,184,45);">Comprar</a></td>
                    </tr>
                    <tr style="display:none">
                        <td colspan="5">
                            <p class="lead"><strong>Criar novo destino</strong></p>
                            <div class="row">
                                <div class="col-auto"><input class="border rounded d-block" type="text" placeholder="Cidade"><input class="border rounded d-block" type="text" placeholder="Estado"><input class="border rounded d-block" type="text" placeholder="País (UF)" value="BR" readonly=""><input class="border rounded d-block" type="text" placeholder="Passagens"><input class="border rounded d-block" type="text" placeholder="Valor"><input class="border rounded d-block" type="text" placeholder="Valor original (opcional)"></div>
                                <div class="col">
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Passagem de ônibus</label></div>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Passagem de avião</label></div>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Passagem de navio</label></div>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Hospedagem em quarto</label></div>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Alimentação inclusa</label></div>
                                    <p class="text-end"><br><button class="btn btn-info btn-sm text-end link-light" type="button" id="addDestiny" style="/*background: rgb(242,152,16);*/border-style: solid;/*border-color: rgb(242,152,16);*/"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-calendar-plus-fill" style="position: relative;top: -2px;">
                                                <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM8.5 8.5a.5.5 0 0 0-1 0V10H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V11H10a.5.5 0 0 0 0-1H8.5V8.5z"></path>
                                            </svg><span>&nbsp;Criar</span></button></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
