.destinos1 {
    background-color: #3459E6;padding: 72px 0;margin-bottom: 72px;background: linear-gradient(140deg, rgb(9,117,178), rgb(8,206,233));
}

.destinos2 {
    width: 100%;
}

.destinos3 {
    margin-top: 20px;
}

.destinos4 {
    margin-bottom: 24px;
}

.destinos5 {
    margin: 8px 0;
}

.destinos6 {
    margin-bottom: 8px;
}