.contato1 {
    background-color: #5c19b2;
    padding: 72px 0;
    margin-bottom: 72px;
    background: linear-gradient(140deg, rgb(76,199,95), rgb(167,192,12));
}
.contato2 {
    width: 100%;
}
.contato3 {
    margin-top: 20px;
}
.contato4 {

}
.contato5 {

}
